debug
debug.test
main
mockgen_tmp.go
*.qtr
*.qlog
*.txt
race.[0-9]*

fuzzing/*/*.zip
fuzzing/*/coverprofile
fuzzing/*/crashers
fuzzing/*/sonarprofile
fuzzing/*/suppressions
fuzzing/*/corpus/

gomock_reflect_*/

example/fec/pos/dut/client/output.txt
example/fec/pos/dut/client/client-linux-x86_64
example/fec/pos/dut/server/server-linux-x86_64

example/fec/pos2/client/client-linux-x86_64
example/fec/pos2/server/server-linux-x86_64
example/fec/pos2/server/1kB
example/fec/pos2/server/16kB
example/fec/pos2/server/65kB
example/fec/pos2/server/1MB